[submodule "externals/stb"]
    path = externals/stb
    url = https://github.com/nothings/stb.git
[submodule "externals/mortis"]
    path = externals/mortis
    url = git@github.com:ZenToad/mortis.git
[submodule "externals/raylib-game"]
    path = externals/raylib-game
    url = https://github.com/ZenToad/raylib-game-template.git
[submodule "externals/raylib"]
	path = externals/raylib
	url = https://github.com/ZenToad/raylib.git
