[submodule "externals/raygui"]
	path = externals/raygui
	url = https://github.com/raysan5/raygui
[submodule "externals/stb"]
	path = externals/stb
	url = https://github.com/nothings/stb.git
[submodule "externals/mortis"]
	path = externals/mortis
	url = git@github.com:ZenToad/mortis.git
[submodule "externals\\raylib"]
	path = externals\\raylib
	url = https://github.com/ZenToad/raylib.git
